@use "variables" as v;
@use "mixins" as m;

.contact {
  background-color: v.$color-black-white;
  position: relative;
  padding: 1rem;
  @include m.tablet {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  &__content {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include m.desktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      flex-direction: column;
      column-gap: 14rem;
      padding-top: 3rem;
      align-items: start;
    }
  }
  &__content__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include m.desktop {
      display: flex;
      flex-direction: column;
      grid-column: 1;
      align-items: flex-start;
    }
  }

  &__title {
    color: v.$color-white;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1.136px;
    margin-top: 60px;
    margin-bottom: 20px;
    @include m.tablet {
      font-size: 72px;
      line-height: 72px;
      letter-spacing: -2.05px;
      margin-top: 10px;
    }
    @include m.desktop {
      font-size: 88px;
      line-height: 88px;
      letter-spacing: -2.5px;
      margin: 0;
      padding: 0;
    }
  }

  &__description {
    color: v.$color-gray;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    margin-bottom: 50px;
    @include m.tablet {
      font-size: 18px;
      line-height: 28px;
    }
    @include m.desktop {
      text-align: left;
    }
  }

  &__contact {
    width: 100%;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;

  &__group {
    position: relative;

    input,
    textarea {
      width: 100%;
      box-sizing: border-box;
      padding-left: 1rem;
      background: transparent;
      border: none;
      padding-bottom: 1rem;
      border-bottom: 2px solid v.$color-white;
      color: v.$color-gray;
      font-family: v.$font-family;
      outline: none;
      transition: border-color 0.3s ease;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: -0.222px;
      margin-bottom: 1.5rem;

      &::placeholder {
        color: rgba(v.$color-gray, 0.5);
      }

      &:focus {
        border-bottom-color: v.$color-green;
      }
    }

    textarea {
      resize: vertical;
      min-height: 100px;
    }
  }

  &__button {
    display: inline-flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    background: transparent;
    border: none;
    color: v.$color-white;
    font-family: v.$font-family;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: color 0.3s ease;
    width: fit-content;
    margin-left: auto;
    margin-bottom: 40px;

    &:hover {
      color: v.$color-green;
    }

    &-line {
      text-align: right;
      width: 100%;
      height: 2px;
      background: v.$color-green;
      margin-top: 10px;
      margin-bottom: 1.5rem;
    }
  }
}

.contact .container {
  margin-top: 70px;
  padding-bottom: 40px;
}

.contact-form__group input {
  border-bottom: 2px solid v.$color-gray;
}

.contact-form__group input:focus {
  border-bottom-color: v.$color-green;
}

.contact-form__group input:not(:focus):not(:placeholder-shown):invalid {
  border-bottom-color: red;
}

.contact-form__error {
  display: none;
  color: red;
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.contact-form__group
  input:not(:focus):not(:placeholder-shown):invalid
  + .contact-form__error {
  display: block;
}
