$color-black: #151515;
$color-green: #4ee1a0;
$color-gray: #d9d9d9;
$color-white: #ffffff;
$color-black-white: #242424;
$font-family: "Space Grotesk", sans-serif;

$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
